<body style="background-color: whitesmoke;">
    <div class="container">
      <h3 class="text-center">Trading Data</h3>
      <!-- <select (change)="onTableSizeChange($event)">
       <option *ngFor="let size of tableSizes" >{{size}}</option>
  
      </select> -->
      <table class="table-striped" style="background-color: white; ">
        <thead>
          
          <th>Trade no</th>
          <th> customerName</th>
          <th> currencyPair</th>
          <th> Amount </th>
          <th> Rate </th>
    
        </thead>
        <tbody>
          <tr *ngFor="let data of datas | paginate:{
          itemsPerPage:tableSize,
          currentPage:page,
          totalItems:count
        }; let i =index ">
            <td> {{ data.tradeNo}}</td>
            <td> {{ data.customerName}}</td>
            <td> {{ data.currencyPair }}</td>
            <td> {{data.amount}}</td>
            <td> {{data.rate}}</td>
            <!-- <td>{{data.status}}</td> -->
          </tr>
        </tbody>
      </table>
      <!-- <div class="text-center" class="table-striped">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div> -->
    </div>
  </body>